
div {
    text-align: left;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    text-align: center;
}

button.edit-btn {
    background-color: #4CAF50;
    color: white;
}

button.edit-btn:hover {
    background-color: #45a049;
}

button.delete-btn {
    background-color: #f44336;
    color: white;
}

button.delete-btn:hover {
    background-color: #e53935;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

select:hover {
    border-color: #4CAF50;
}

option {
    padding: 8px;
    background-color: #fff;
    font-size: 16px;
}

option:hover {
    background-color: #f1f1f1;
}
